body{
    color: red;
}

div{
    color: red;
}

.h1{
    position: relative;
    left: 48.4%;
}

.a{
    position: relative;
    left: 33%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.b{
    position: relative;
    left: 40%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.c{
    position: relative;
    left: 47%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.d{
    size: 15px;
    position: relative;
    left: 54%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.e{
    position: relative;
    left: 61%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.f{
    position: relative;
    left: 33%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.g{
    position: relative;
    left: 40%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.h{
    position: relative;
    left: 47%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.i{
    position: relative;
    left: 54.3%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.j{
    position: relative;
    left: 61.6%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.k{
    position: relative;
    left: 33%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.l{
    position: relative;
    left: 40%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.m{
    position: relative;
    left: 47%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.n{
    position: relative;
    left: 53.7%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.o{
    position: relative;
    left: 60.6%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.p{
    position: relative;
    left: 33%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.q{
    position: relative;
    left: 40%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.r{
    position: relative;
    left: 47%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.s{
    position: relative;
    left: 54.2%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.t{
    position: relative;
    left: 61.8%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.u{
    position: relative;
    left: 33%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.v{
    position: relative;
    left: 40%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.w{
    position: relative;
    left: 47%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.x{
    position: relative;
    left: 54%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.y{
    position: relative;
    left: 61%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}

.z{
    position: relative;
    left: 33%;
    box-shadow: 6px 9px 20px;
    display: inline-block;
}